.homecenterpage {
    /* border: 1px solid red; */
    width: 95%;
    /* margin: auto; */


    width: 80%;
    margin: auto;
    margin-top: 110px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}